*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    /*Colors of project*/
    --color-background: #ffffff;
    --green-background: #55DFB4;
    --blue-background: #08A6E4;
    --red-background: #FB3B64;
    --dark-grey: #707070;
    --mediumlight-grey: #95989A;
    --ligth-grey: #A5A5A5;
    --very-light-color: #F7F7F7;
    --primary-font-color: #000000;
    /*Fonts of project*/
    --open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    /* Size*/
    --max-width: max-width: 1352px;

}

html {
scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
  }

/*Style of header*/
.header {
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    z-index: 1;
}
.section_size {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 2rem;
    color: var(--blue-background);
    font-family:var(--font-raleway);
    font-weight: 300;
    text-decoration: none;
}
.navigation {
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 2;
    justify-content: space-around;
    align-items: center;
}

.container {
    max-width: var(--max-width);
    background-color: var(--color-background);
    display: flex;
    width: 100%;
}

.navigation_list {
    display: flex; 
}

.navigation_list_element {
    list-style-type: none;
    height: 100%;
}

.navigation_list_link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: var(--ligth-grey);
    font-family: var(--open-sans);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 10px;
}

.navigation_list_link:hover {
    color: var(--primary-font-color);
}

.navigation_burger{
    display: none;
}



/* section welcome*/
.section_welcome {
    height: calc(100vh - 70px);
}

.section_welcome_container {
    display: flex;
    justify-content: center;
    height: calc(100vh -70px);
    position: relative;
}

.section_welcome_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    /* margin-bottom: 15vh; */
}
.section_welcome_main_text {
    /* font-size: 49px; */
    font-family: var(--font-raleway);
    font-weight: 300;
    color: var(--primary-font-color);
}

.section_welcome_second_text{
    font-family: var(--open-sans);
    text-align: center;
    padding: 20px 0;
}

.section_welcome_button {
    text-align: center;
    text-decoration: none;
    background-color: var(--blue-background);
    color: var(--color-background);
    font-family: var(--open-sans);
    font-size: 0.8rem;
    border-radius: 5vh;
    font-weight: bold;
    /* padding: px 10px; */
    box-shadow: 5px 10px 14px #07ACE629;
}

.section_welcome_image_box {
    background-image: url(./assets/Background.png);
    background-color: var(--color-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: var(--max-width);
    padding: 0px 15px;
    height: 50vh;
    width: 100vw;
    position: absolute;
    bottom:0;
}


/* Section why_us */
.section_why_us {
    height: 50%;
    /* border: 3px solid black; */
}

.section_why_us_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 50px 0px;
    /* border: 3px solid red; */
}
.section_why_us_main_text {
    font-size: 2rem;
    font-family: var(--open-sans);
    font-weight: 300;
    text-align: center;
    padding: 0 15px;
}


.why_us_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-raleway);
    position: relative;
}
.circle {
    border-radius: 50%;
}

.why_us_circle1 {
    background-color: var(--red-background);

}
.why_us_circle2 {
    background-color: var(--blue-background);
}
.why_us_circle3 {
    background-color: var(--green-background);
}

.why_use_box_number {
    color: var(--primary-font-color);
    font-weight: 800;
    font-size: 1rem;
}

.why_use_box_text {
    text-align: center;
    color: var(--ligth-grey);
    font-weight: 300;
    font-size: 1rem;
}

/* Section benefits */
.sezon_benefits {
    align-content: space-between;
    justify-content: center;
}

.section_benefits_container {
    width: 100%;
    background-color: var(--very-light-color);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 10%;
}



.benefits_article {
    font-size: 1rem;
    font-family: var(--open-sans);

}

.benefits_image1 {
    background-image: url(./assets/Macbook.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /* width: 50%;
    height: 100%; */
}

.benefits_image2 {
    background-image: url(./assets/iPhone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.benefits_image3 {
    background-image: url(./assets/Trumpet.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.benefits_box{
    background-color: var(--color-background);
    display: flex;
}

.benefits_box_image {
    position: relative;
    width: 50%;
    height: 50%;
}


/*Style of max-width: 575.98px*/
@media screen and (max-width: 575.98px) {
    .header{
        width: 100vw;
        justify-content: center;
        align-items: center;
        background-color: var(--red-background);
        z-index: 2;
    }

    .container {
        height: 100%;
        width: 100%;
        justify-content: space-around;

    }

    .navigation_list {
        /* height:100%; */
        position: absolute;
        top: 30px;
        left: 0;
        width: 100vw;
        margin-top: 40px;
        margin-bottom: 35px;
        flex-direction: column;
        background-color: var(--color-background);
        box-shadow: 0px 3px 6px  var(--ligth-grey);
        padding: 30px 0px 30px 0px;
        transform: translateY(-160%);
        transition: transform 0.5s ease-in;
    }

    .navigations-active {
        transform: translateY(0%);
    }

    .hide {
        display: block;
    }

    .navigation_list_element {
        height:100%;
        margin-bottom: 14px;
        margin-left: 60px;
        font-size: 11px;
        transition: transform 0.5s ease-in;  
    }

    .navigations-active {
        transform: translateX(0%);
    }

    .navigation_burger {
        display: block;
        cursor: pointer;
    }

    .navigation_burger_line {
        width: 30px;
        height: 3px;
        background-color: var(--blue-background);
        margin: 5px;
        border-radius: 1.5px;
        transition: all 0.2s ease;
    }

    /* .navigation_list_element {

    } */
    .navigation_list_link {
        margin: 5px;

        /* text-decoration: none;
        color: var(--primary-font-color) */
    }

    @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translate(50px);
        }
        to {
          opacity: 1;
          transform: translate(0px);
        }
      }
      
      .toggle .navigation_burger_line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      .toggle .navigation_burger_line2 {
        opacity: 0;
      }
      .toggle .navigation_burger_line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
      /*section welcome style*/
    .section_welcome_main_text {
        font-size: 30px;
    }
    .seciotn_welcome_second_text{
        font-size: 12px;
    }
    .section_welcome_button {
        padding: 15px 60px;
    }

    /*.section_why_us*/
    .section_why_us_container{
        display: flex;
        flex-direction: column;
    }
    .section_why_us_main_text {
        font-size: 1.5rem;
        font-family: var(--open-sans);
        font-weight: 300;
        text-align: center;
        padding: 0 15px;
    }
    
    .section_why_us_box {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .why_us_box {
        height: 30%;
        width: 100%;
        /* border: 3px solid brown; */
        padding: 5px 0px;
    }
    .circle {
        width: 40px;
        height: 40px;
    }

    .why_us_box_image1 {
        background-image: url(./assets/Person.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 30px;
        width: 30px;
        position: absolute;
        right:  43%;
        top: 10%;
    }
    .why_us_box_image2 {
        background-image: url(./assets/Eye.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 30px;
        width: 30px;
        position: absolute;
        right:  43%;
        top: 10%;

    }
    .why_us_box_image3 {
        background-image: url(./assets/Catalog.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 30px;
        width: 30px;
        position: absolute;
        right:  43%;
        top: 10%;
    }


    /* Section benefits*/
    .section_benefits_container {
        display: flex;
    }

    .benefits_box{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10%;
    }

    /* .benefits_image1_box {
        display: flex;
        flex-direction: column;
        border: 1px dotted black;
        background-color: red;
    } */
    /* .benefits_image2_box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } */

    .benefits_image1 {
        /* width: 60%;
        height: 100%;

        position: absolute */
    } 
    .benefits_image2 {
        /* width: 150px;
        height: 150px;
        position: absolute;
        top: 10;
        left: 10; */
    }
    .benefits_image3 {
        /* width: 150px;
        height: 150px;
        position: absolute */
    }

    .benefits_box_image {
        width: 40%;
        position: relative;
        border: 1px solid red;
    }
}








/*Style of  max-width: 767.98px*/
@media screen and (min-width: 576px)  and (max-width: 767.98px){
    .header{
        background-color: yellowgreen
    }
    .container {
        height: 100%;
        width: 1354px;
    }
    .navigation_list {
        align-items: center;
        height: 100%;
    }

    .navigation_list_link {
        text-align: center;
        height: 100%;
        align-items: center;
    }
    .navigation_list_link:hover {
        text-align: center;
        /* border: 1px solid red; */
        height: 100%;
        padding-bottom: auto;
        /* display: flex;
        align-items: center; */
        border-bottom: 2px solid var(--blue-background);
    }
      /*section welcome style*/
    .section_welcome_main_text {
        font-size: 40px;
    }
    .seciotn_welcome_second_text{
        font-size: 1rem;
    }
    .section_welcome_button {
        padding: 10px 60px;
    }
    .section_why_us_box {
        flex-direction: row;
    }

    .section_why_us_box {
        display: flex;
        justify-content: space-between;

    }
    .why_us_box {
        width: 33%;
        padding: 30px;
        margin: 40px 0;
    }
    .circle {
        width: 50px;
        height: 50px;
    }
    .why_us_box_image1 {
        background-image: url(./assets/Person.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 40px;
        width: 40px;
        position: absolute;
        right:  30%;
        top: 27%;
    }
    .why_us_box_image2 {
        background-image: url(./assets/Eye.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 40px;
        width: 40px;
        position: absolute;
        right:  30%;
        top: 23%;
    }
    .why_us_box_image3 {
        background-image: url(./assets/Catalog.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 40px;
        width: 40px;
        position: absolute;
        right:  30%;
        top: 27%;
    }

}















/*Style of min-width: 768px*/
@media screen and (min-width: 768px) {
    /* .header{
        background-color: red
    } */
    .container {
        height: 100%;
        width: 1354px;
        padding: 15px;
    }
    /* .navigation_list {
        display: flex; 
    } */
    .navigation_list_element {
        list-style-type: none;
    }

    .navigation_list_link {
        text-decoration: none;
    }

    /*section welcome style*/
    .section_welcome_main_text {
        font-size: 49px;
    }
    .seciotn_welcome_second_text{
        font-size: 20px;
    }
    .section_welcome_button {
        padding: 10px 60px
    }

    
    /* Section why_us */
    /* .section_why_us {
        height: 50vh;
    } */

    .section_why_us_container {
        display: flex;
        justify-content: center;
    }
    .section_why_us_main_text {
        font-size: 2rem;
        font-family: var(--open-sans);
        font-weight: 300;
        text-align: center;
        padding: 0 30px;
    }

    .section_why_us_box {
        display: flex;
        justify-content: space-between;

    }
    .why_us_box {
        /* border: 3px solid green; */
        width: 33%;
        padding: 30px;
        margin: 40px 0;
    }
    .circle {
        width: 50px;
        height: 50px;
    }
    .why_us_box_image1 {
        background-image: url(./assets/Person.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 40px;
        width: 40px;
        position: absolute;
        right:  40%;
        top: 25%;
    }
    .why_us_box_image2 {
        background-image: url(./assets/Eye.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 40px;
        width: 40px;
        position: absolute;
        right:  40%;
        top: 25%;
    }
    .why_us_box_image3 {
        background-image: url(./assets/Catalog.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 40px;
        width: 40px;
        position: absolute;
        right:  40%;
        top: 25%;
    }
    /* Section benefits */

    .section_benefits_container {
        /* width: 50%; */
    }
    article {
        width: 60%;
    }
    .benefits_main_tex {
        font-size: 1rem;
    }
    .benefits_second_text {
        font-size: 0.8rem;
    }


    .banefits_image1_box {
        width: 40%;
    }
    .benefits_article {
        font-size: 1rem;
    }

    .benefits_box {
        display: flex;
        justify-content: space-around;
        background-color: var(--color-background);
        height: 20vh;
        width: 70vh;
        margin: 20px;
        padding: 30px;
        /* position: relative; */
        /* position: relative; */
        /* border: 1px solid red; */
    }
    .benefits_image1_box {
        width: 40%;
        height: 100%;
        /* background-color: red; */
        position: relative;
    }
    .benfits_special_background1{
        width: 60px;
        height: 60px;
        background-color: var(--red-background);
        transform: rotate(45deg);
        border-radius: 15%;
        position: absolute;
        top: 0%;
        right: 17%;
    }

    .benefits_image2_box {
        width: 40%;
        height: 100%;
        /* background-color: red; */
        position: relative;
    }
    .benfits_special_background2{
        width: 70px;
        height: 70px;
        background-color: var(--blue-background);
        border-radius: 50%;
        position: absolute;
        top: 5%;
        left: 25%;
    }


    .benefits_box3 {
        display: flex;
        justify-content: space-around;
        background-color: var(--very-light-color);
        height: 20vh;
        width: 70vh;
        /* margin: 10px; */
        /* padding: 30px; */
    }
    .benefits_article {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        background-color: var(--color-background);
    }

    .benefits_box_image3 {
        position: relative;
        background-color: var(--green-background);
        width: 40%;
        height: 100%;
        margin-left: 20px;
    }


    .benefits_image1 {
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    
    .benefits_image2 {
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    
    .benefits_image3 {
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}